/* ---------
|  Seoul Alternative Theme
|
|  Based on a subset of the colorscheme of the City of Seoul.
|
|  Colors:
|
|  - Background :: #25262e
|  - Color0     :: #5E5E5E
|  - Color1     :: #C14E4B
|  - Color2     :: #A4A501
|  - Color3     :: #F7B65A
|  - Color4     :: #8DB1E1
|  - Color5     :: #8F4350
|  - Color6     :: #3C8282
|  - Color7     :: #E5D6D1
|  - Color8     :: #4E4E4E
|  - Color9     :: #FC7921
|  - Color10    :: #8E8238
|  - Color11    :: #F29901
|  - Color12    :: #589FBF
|  - Color13    :: #CD919B
|  - Color14    :: #8FBDBD
|  - Color15    :: #EDE4D5
|
|----------- */

/* ---------
|  Fonts
|----------- */

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

/* ---------
|  Body
|
|  General modifications should be set here.
|----------- */

body { background: #25262e; color: #EDE4D5; font-family: Quicksand; }

h1, h2, h3, h4, h5, h6       { font-weight: normal; width: 60vw; line-height: initial; }
h1                           { font-size: 1.30em; }
h2                           { font-size: 1.25em; }
h3                           { font-size: 1.20em; }
h4                           { font-size: 1.15em;}
h5                           { font-size: 1.10em; }
a                            { color: #FC7921; text-decoration: none; }
cite                         { color: #F7B65A; font-style: normal; }
body.presentation aside      { animation: fade-in 0.4s; background: #5E5E5E; padding: 3vh 3vw !important;
                               border: 0.3em solid #8E8238; }
dfn                          { font-style: normal; }

blockquote                   { font-family: mono, serif; font-weight: lighter; padding: 1em 0px; }
blockquote cite              { float: right; }
blockquote cite:before       { content: "\002014 "; }
blockquote:after             { clear: both; }

body > div#help              { animation: fade-in 0.4s;  }
body > div#options           { background: rgba(255,255,255, 0.1); border-radius: 0.3em 0.3em 0px 0px; }
body > div#options > *       { border: 0.2em solid rgba(0,0,0,0); }
body > div#options > *:hover { border-bottom-color: #FC7921; }
body > div#toc               { animation: fade-in 0.6s; background: #4E4E4E; border-right: 0.4em solid #F29901; }
body > div#toc > a:hover     { color: #C14E4B; }

body.text > section          { position: relative; }
body.text > section:before   { content: " "; display:block; width: 5em; height: 1px; margin: 5vh 0%;
                               border-bottom: 5px dotted #888; }
body.text > section:first-child:before { content: initial; }

body.text > section:target:after       { content: " "; position: absolute; right: calc(100% + 2em); top: 5vh;
                                         width: 5px; height: calc(100% - 5vh); background: #3C8282; }

/* Speaker View */
body.presentation.speakerView { background: #25262e; }
body.presentation.speakerView > section { border: #4E4E4E solid 0.3em; }
body.presentation.speakerView > section:target { border-color: #589FBF; }

/* Text mode */
aside                { display: block; }
body.text > section  { line-height: 1.5em; }
body.text li > aside { display: block; padding: 0.5em 0px; }

/* Presentation View */
body.presentation               { font-size: 2.8em; }
body.presentation > section     {  }
body.presentation > section > * {  }

body.presentation > section li  { padding: 0.1em 0px; }
body.presentation h1,
body.presentation h2,
body.presentation h3,
body.presentation h4,
body.presentation h5,
body.presentation h6            { text-align: center; }



@media (max-width:55em) {
    body.presentation           { font-size: 4.5vw; }
}
@media print {
    body.presentation           { font-size: 20pt; }
}

body.presentation .containsAside:hover { background: rgba(255,255,255,0.05); }

/* ---------
|  General options applying only to presentation view
|----------- */

body.presentation .twoElements.comparison { background: linear-gradient(left, rgba(0,0,0,0) 50%, #4E4E4E 50%);
                                            background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, #4E4E4E 50%); }
body.presentation .centered               { text-align: center; }
body.presentation .greyedOut              { color: #888; }

/* ---------
|  Sections / Slide Layouts
|----------- */

body.presentation > section.oneElement             { font-size: 1.2em; }
body.presentation > section.oneElement > *         {  }
body.presentation > section.oneElement > h2        { text-align: center; }
body.presentation > section.oneElement > span      { text-align: center; }
body.presentation > section.oneElementHeadline > * {  }
body.presentation > section.twoElementHeadline > * {  }

body.presentation > section.quote > *                  { left: 65%; font-size: 0.8em; }
body.presentation > section.quote:before               { content: "\""; position: absolute; left: 15%; top: 15%;
                                                         font-size:15vh; }
body.presentation > section.smaller                    { font-size: 1em; }
body.presentation > section.oneElement.moveRight > *   { left: 65%;  }

body.presentation > section.fixedTopQuarter > *        { top: 25%; transform: translate(-50%); }
body.presentation > section.fixedTopThird > *          { top: 33%; transform: translate(-50%); }

body.presentation > section.oneElement > dl            { left: 40%;  transform: translate(0%); }
body.presentation > section.oneElement > dl > dt       { position: absolute; right: 100%; color: #888; }
body.presentation > section.oneElement > dl > dd       { display: block; padding-left: 3em; }
body.presentation > section.oneElement > dl > dd > ul  { padding: 0px; margin: 0px 0px 0px 0px; }

/* ---------
|  Sections / Slide Layouts
|
|  e.g. body.presentation > section.AlternativeBG { background: #fa0; }
|----------- */


/* ---------
|  Animations
|
|  If you need animations, set them here.
|----------- */

@keyframes fade-in {
    from {opacity:0.4;}
    to {opacity:1.0;}
}

/* ---------
|  This Special Case
|----------- */

/* ---------
|  Integration with Citations
|----------- */

body cite    { position: initial; }
h2 cite      { display: block; font-size: 0.7em; }
h3 cite      { display: block; font-size: 0.7em; }
body.presentation cite div.citeFullText { min-width: initial; font-size:0.7em; }

div#Sources                            { position: relative; }
div#Sources div.sourcesOptions         { position: absolute; right: 0px; }
div#Sources div.sourcesOptions a       { padding: 0.4em; background: #5E5E5E; border: 0.1em solid #FC7921; }
div#Sources div.sourcesOptions a:hover { border: 0.1em solid #C14E4B; }
div#Sources ul                         { padding: 1em 0px; margin: 0px; list-style: none; }
div#Sources li:target                  { color: #A4A501; }

body.presentation div#Sources          { display: none; }

/* ---------
|  Glossary
|----------- */

body > div#options > div#optionsOpenerGlossary:before { content: "\01F4D3"; }

div#glossary { position: fixed; left: 50%; top: 50%; display: none; transform: translate(-50%, -50%);
               max-height:76vh; padding: 2vh 2vw; background: #5E5E5E; border: 0.3em solid #589FBF;
               font-size: initial; z-index: 1000;
               overflow-y: auto; animation: fade-in 0.4s; }

div#glossary dl    { display: flex; flex-wrap: wrap; }
div#glossary dl dt { display: inline-block; min-width: 199px; max-width: 200px; padding:0.1em; font-style: italic; }
div#glossary dl dd { display: inline-block; max-width: calc(100% - 210px - 1em); padding:0.3em; margin: 0em 0em 1em 0.3em; text-align: justify; }
div#glossary dl dd:last-child { margin-bottom: 0px; }
div#glossary dl dd:hover,
div#glossary dl dt:hover + dd { background: rgba(255,255,255,0.05); border-radius: 0.5em; }

@media (max-width:55em) {
    div#glossary { top: -0.3em; transform: translate(-50%); width: 86%; height: 80vh; }
}
