/* ---------
|  Seoul Alternative Theme
|
|  Based on a subset of the colorscheme of the City of Seoul.
|
|  Colors:
|
|  - Background :: #25262e
|  - Color0     :: #5E5E5E
|  - Color1     :: #C14E4B
|  - Color2     :: #A4A501
|  - Color3     :: #F7B65A
|  - Color4     :: #8DB1E1
|  - Color5     :: #8F4350
|  - Color6     :: #3C8282
|  - Color7     :: #E5D6D1
|  - Color8     :: #4E4E4E
|  - Color9     :: #FC7921
|  - Color10    :: #8E8238
|  - Color11    :: #F29901
|  - Color12    :: #589FBF
|  - Color13    :: #CD919B
|  - Color14    :: #8FBDBD
|  - Color15    :: #EDE4D5
|
|----------- */

/* ---------
|  Fonts
|----------- */

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
}

/* ---------
|  Body
|
|  General modifications should be set here.
|----------- */

body { background: #25262e; color: #EDE4D5; font-family: Quicksand; }

h1, h2, h3, h4, h5, h6       { font-weight: normal; }
a                            { color: #FC7921; text-decoration: none; }
body.presentation aside      { animation: fade-in 0.4s; background: #5E5E5E; padding: 3vh 3vw !important;
                               border: 0.3em solid #8E8238; }

body > div#help              { animation: fade-in 0.4s;  }
body > div#options           { background: rgba(255,255,255, 0.1); border-radius: 0.3em 0.3em 0px 0px; }
body > div#options > *       { border: 0.2em solid rgba(0,0,0,0); }
body > div#options > *:hover { border-bottom-color: #FC7921; }
body > div#toc               { animation: fade-in 0.6s; background: #4E4E4E; border-right: 0.4em solid #F29901; }
body > div#toc > a:hover     { color: #C14E4B; }

body.text > section          { position: relative; }
body.text > section:before   { content: " "; display:block; width: 5em; height: 1px; margin: 5vh 0%;
                               border-bottom: 5px dotted #888; }
body.text > section:first-child:before { content: initial; }

body.text > section:target:after       { content: " "; position: absolute; right: calc(100% + 2em); top: 5vh;
                                         width: 5px; height: calc(100% - 5vh); background: #3C8282; }

/* Speaker View */
body.presentation.speakerView { background: #25262e; }
body.presentation.speakerView > section { border: #4E4E4E solid 0.3em; }
body.presentation.speakerView > section:target { border-color: #589FBF; }

aside {display: block;}

body.presentation      { font-size: 5vh; }
body.presentation > section       {  }
body.presentation > section > *   {  }

body.presentation .containsAside:hover { background: rgba(255,255,255,0.05); }

/* ---------
|  Sections / Slide Layouts
|----------- */

body.presentation > section.oneElement > *         {  }
body.presentation > section.oneElementHeadline > * {  }
body.presentation > section.twoElementHeadline > * {  }

/* ---------
|  Sections / Slide Layouts
|
|  e.g. body.presentation > section.AlternativeBG { background: #fa0; }
|----------- */

/* ---------
|  Animations
|
|  If you need animations, set them here.
|----------- */

@keyframes fade-in {
    from {opacity:0.4;}
    to {opacity:1.0;}
}
